/*Globales*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
    /* 10px = 1rem */
}

body {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000;
    background-color: #000;
    font-size: 1.6rem;
    /*16px*/
    line-height: 1.6;
}

header,
footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #000;
    color: #f0f0f0;
    padding: 1rem;
    text-align: center;
}

p {
    font-size: 1.6rem;
    /*16px*/
    margin: 1rem 0;
    font-family: 'Times New Roman', Times, serif;
    color: #f0f0f0;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 120rem;
    /*1200px*/
    margin: 0 auto;
    padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Times New Roman', Times, serif;
    margin: 1rem 0;
    text-align: center;
}

h1 {
    font-size: 5rem;
    /*50*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}

h2 {
    font-size: 4rem;
    /*35px*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 1rem 0;
}

h3 {
    font-size: 2.5rem;
    /*25px*/
    margin: 1rem 0;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: aliceblue;
    color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.boton:hover {
    background-color: black;
    color: aliceblue;

    border: 1px solid aliceblue;
}

.Encabezado {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 10px;
}

.Encabezado-logo {
    width: 80px;
    height: auto;
    cursor: pointer;
    grid-column: 3/2;
    justify-self: center;
}

.nav {
    padding: 10px;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.nav_activo {
    background-color: #000;
    color: #f0f0f0;
    border: solid 1px #f0f0f0;


}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    /* 20px */
    gap: 5rem;
    padding: 2rem;
}

.tatuaje {
    background-color: #000;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 0px 10px 0px #f0f0f0;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.tatuaje:hover {
    transform: scale(1.05);
}

.tatuaje .tatuaje_img {
    width: 100%;
    height: auto;
    border-radius: 5px;

    box-shadow: 0px 0px 10px 0px #f0f0f0;
}

.tatuaje__video {
    width: 150px;
    height: 500px;
}

.tatuajename {
    font-size: 2rem;
    /* 18px */
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.tatuaje__parrafo {
    font-size: 1.4rem;
    /* 14px */
    margin: 0.5rem 0;
}

.tatuaje__precio {
    font-size: 1.6rem;
    /* 16px */
}

.tatuajeparrafo,
.tatuajeprecio,
.tatuaje__info {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--accent-color);
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .encabezado {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .encabezadologo {
        justify-self: center;
        grid-column: 1 / 4;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .nav {
        flex-direction: column;
        gap: 1rem;
    }

    .nosotros {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .nosotros__image {
        grid-row: 1 / 2;
    }

    .playera {
        grid-template-columns: 1fr;
        gap: 1rem;
        /*10px*/
    }

    video {
        width: 273px;
        height: 500px;
    }


}